* {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

header {
	background: url("img/fox.jpg");
	background-size: cover;
	background-position: 50%;
	height: 300px;

}
header h1 {
	background: #ffffff;
	mix-blend-mode: screen;
	font-size: 3vw;
	letter-spacing: 0.02em;
	text-align: center;
	padding: 0.8em;
	width: 50%;
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	box-shadow: 0.5rem 0.5rem #303030;
}


nav {
	display: flex;
	justify-content: center;
	background: #1e1e1e;
	font-size: 1.2em;
	position: sticky;
	top: 0;
	overflow: hidden;
	z-index: 10;
}
nav li {
	list-style-type: none;
	display: inline-block;
	text-align: center;
	transition: background-color 0.5s ease;
}
nav a {
	color: #ffffff;
	display: block;
	padding: 1em 4vw;
	transition: color 0.5s ease;
}
nav li:hover {
	background-color: #9f9f9f;
}
nav a:hover {
	color:#1e1e1e;
}


main {
	min-height: 80vh;
	width: 50%;
	position: relative;
	box-shadow: 0 0 3vw #9f9f9f;
	left: 50%;
	transform: translate(-50%);
	padding: 1em;
}
main > section {
	padding: 1em;
}

footer {
	display: block;
	box-sizing: border-box;
	z-index: 1000;
	text-align: center;
	color: #ffffff;
	width: 100%;
	padding: 1.2vh;
	background: #000000;
	transform: translate(0);
}
footer * {
	margin: 0 10vw;
	display: inline-block;
}
footer a {
	color: #ffffff
}


#recommended {
	overflow: hidden;
}
#recommended ul {
	padding: 0;
	display: block;
	width: 1600px;
	transform: translate(0);
	animation-duration: 10s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-name: roll;
}
#recommended ul * {
	height: 200px;
	width: 200px;
	position: relative;
}
#recommended li {
	display: inline-block;
	margin-right: 0.5vw;
}
#recommended h4 {
	display: inline;
	z-index: 5;
}
#recommended .haver {
	width: 200px;
	height: 300%;
	background-image: linear-gradient(#00000000, #000000);
	position: absolute;
	bottom: 0;
	left: 0;
	color: #ffffff;
	text-align: center;
}
#recommended .haver span {
	display: block;
	position: relative;
	top: 40%;
}

@keyframes roll {
	0% { transform: translate(0); }
	25% { transform: translate(-10%); }
	50% { transform: translate(-20%); }
	75% { transform: translate(-30%); }
	100% { transform: translate(-40%); }
}

/* ---- TOPLIST TABLE ---- */
table, 
tr > * {
	border: 1px solid #9f9f9f;
	border-collapse: collapse;
}
table {
	width: 100%;
}
table img {
	width: 80px;
	height: 80px;
}
th {
	padding: 0.3em;
	background: #b0cbff;
	border: none;
}
td {
	text-align: center;
	padding: 0.5rem;
}
td * {
	display: inline-block;
	vertical-align: top;
}
td > div > div {
	display: block;
	font-size: 0.8em;
}
.s {
	width: 10%;
}
.info {
	text-align: left;
}

/* ---- USERS ---- */
#users {
	display: flex;
	flex-flow: wrap;
	justify-content: center;
	gap: 1em;
}
#users > * {
	padding: 1.5em 1em;
	display: inline-block;
	background: #eaf7ff;
	width: 120px;
	transition: transform 0.2s ease;
}
#users a:hover {
	transform: scale(1.1, 1.1);
}

/* ---- USER PROFILE + ANIMALS---- */
#info > * {
	display: inline-block;
	vertical-align: top;
}
#info #stat {
	position: relative;
	margin-left: 5vw;
	margin-bottom: 1em;
}
#info #stat button {
	transform: translate(0, -0.2em);
	cursor: pointer;
}
#info #profp {
	margin-bottom: 2vh;
}
#info #profp h2 {
	margin-bottom: 0.8em;
}
#list h2 {
	margin-bottom: 0.8em;
}
#info p {
	width: 16vw;
}
#list > div {
	border: 3px solid #9f9f9f;
	height: 500px;
	overflow-y: scroll;
}
#desc * {
	padding-bottom: 1em;
}
#media h2 {
	padding: 2em 0 1em 0;
}
#media video {
	position: relative;
	left: 50%;
	transform: translate(-50%);
}
#images {
	position: relative;
	left: 50%;
	width: 500px;
	height: 500px;
	transform: translate(-50%);
	border: 3px solid #1e1e1e;
	border-radius: 10px;
	background: url("img/macska/1.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	animation-duration: 10s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-name: slide;
}
#stat .i {
	margin-top: 0.5em;
}

/* ---- LOGIN FORM ---- */
#login,
#register {
	position: relative;
	display: inline-block;
	/*border: 3px solid #eaf7ff;*/
	padding-left: 4vw;
	padding-right: 4vw;
	left: 50%;
	width: 40%;
	transform: translate(-50%);
	animation-duration: 0.6s;
	animation-iteration-count: 1;
}
#login hr,
#register hr {
	width: 500px;
	padding: 0;
	margin: 0;
}
form > input:not([type="file"]),
form > textarea,
form > div {
	display: block;
	width: 100%;
	margin-top: 0.5em;
	margin-bottom: 2em;
	padding: 1em;
	box-sizing: border-box;
}
form > div {
	padding: 0;
}
.formtitle {
	margin-bottom: 1.5em;
}
.required:after {
	content: " *";
	color: #ff0000;
}
#login button {
	display: block;
	width: 100%;
	margin-top: 0.5em;
	margin-bottom: 2em;
	padding: 1em;
	box-sizing: border-box;
}
@keyframes login-reg {
	0% { transform: translate(-50%); }
	100% { transform: translate(-238%); }
}
@keyframes reg-reg {
	0% { transform: translate(-50%); }
	100% { transform: translate(-238%); }
}
.pub {
	display: block;
}

/* ---- MESSAGES ---- */
#messages {
	overflow-y: scroll;
	height: 65vh;
}
.message {
	position: relative;
	margin: 2vh 0;
	background: #dadada;
	width: calc(50% - 2.6em);
	padding: 1.3em;
	overflow-wrap: break-word;
}
.time {
	font-size: 0.8em;
	color: #505050;
}
.this {
	background: #b0cbff;
	transform: translate(100%);
}
.this .time {
	text-align: right;
}
#send input {
	padding: 0.7em;
	width: 100%;
}

/* ---- UTILS ---- */

.center {
	text-align: center;
}

.padding > * {
	padding: 1vh;
}

.hidden {
	display: none;
}

hr {
	margin: 2vh 0;
}

a {
	text-decoration: none;
	color: #000000;
}

.btn-active {
	background-color: #9f9f9f;
}
.btn-active a {
	color: #1e1e1e;
}

@media only screen and (max-width: 1050px) {
	#images { width: 100%; height:auto; padding-bottom: 100%; }
	video { width: 100%; }
}

@media only screen and (max-width: 1000px) {
	.vantoplist body {overflow-x: hidden; }
	.vantoplist main { width: 100%; padding: 0; }
}

@media only screen and (max-width: 600px) {
	body {overflow-x: hidden; }
	nav, nav * { width: 100%; position: relative; }
	nav li, nav a { display: block; text-align: center; padding-left: 0; padding-right: 0; }
	main { width: 100%; padding: 0; }
}

@media only screen and (max-width: 500px) {
	#info p { width: auto; }
}

@media only screen and (max-width: 500px) {
	.vantoplist main {font-size: 2.8vw; }
}